<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title layout:title-pattern="$CONTENT_TITLE">OVI Portal</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lumen/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/estilo.css" th:href="@{/css/estilo.css}">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<main class="container py-4">


    <div th:replace="~{fragments/navbar :: navbar}"></div>




    <section layout:fragment="content">
    </section>

    <footer class="mt-5 pt-3 border-top text-muted">
        <p>&copy; 2026 EI1027 - Sistema de gestión OVI</p>
    </footer>
</main>
</body>
</html>