<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listado Instructores</title>
</head>
<body>
<section layout:fragment="content">

    <h1>Listado de Instructores</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Fecha de Nacimiento</th>
            <th>Dirección</th>
            <th>Formación</th>
            <th>Experiencia</th>
            <th>Acciones</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="i : ${instructors}">
            <td th:text="${i.idNumber}"></td>
            <td th:text="${i.name}"></td>
            <td th:text="${i.surname}"></td>
            <td th:text="${i.phoneNumber}"></td>
            <td th:text="${i.email}"></td>
            <td th:text="${i.dateBirth}"></td>
            <td th:text="${i.address}"></td>
            <td th:text="${i.formation}"></td>
            <td th:text="${i.experience}"></td>

            <td>
                <a th:href="@{/instructor/update/{idNumber}(idNumber=${i.idNumber})}"
                   class="btn btn-warning btn-sm">Editar</a>

                <a th:href="@{/instructor/delete/{idNumber}(idNumber=${i.idNumber})}"
                   class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/instructor/add}" class="btn btn-success">Añadir Instructor</a>

</section>
</body>
</html>
