<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Actualizar Instructor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
    <style>
        .error { color: red; }
        .form-group { margin-bottom: 15px; }
    </style>
</head>

<body>
<main class="container mt-4">

    <h1 class="mb-4">Actualizar Instructor</h1>

    <form th:action="@{/instructor/update}" th:object="${instructor}" method="post">

<!--        <input type="hidden" th:field="*{idNumber}"/>-->

        <div class="mb-3">
            <label class="form-label">DNI/NIE</label>
            <input type="text" class="form-control" th:field="*{idNumber}" readonly="readonly">
            <div th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{name}" >
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input type="text" class="form-control" th:field="*{surname}" >
            <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" th:field="*{email}" >
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" th:field="*{dateBirth}">
            <div th:if="${#fields.hasErrors('dateBirth')}" th:errors="*{dateBirth}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Dirección</label>
            <input type="text" class="form-control" th:field="*{address}">
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input type="text" class="form-control" th:field="*{phoneNumber}">
            <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Formación</label>
            <input type="text" class="form-control" th:field="*{formation}">
        </div>

        <div class="mb-3">
            <label class="form-label">Experiencia</label>
            <input type="text" class="form-control" th:field="*{experience}">
        </div>

        <div class="form-group col-md-6">
            <label for="userName">Nombre de Usuario:</label>
            <input type="text" class="form-control" th:field="*{userName}" id="userName" />
            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" th:field="*{userPassword}">
            <div th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}" class="error"></div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a th:href="@{/instructor/list}" class="btn btn-secondary">Cancelar</a>

    </form>

</main>
</body>
</html>
