<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <title>Gestionar Classificacions</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
</head>
<body>
<main class="container">
    <h1>Llista de Classificacions</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom Nadador</th>
            <th>Nom Prova</th>
            <th>Posició</th>
            <th>Temps</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classificacio: ${classificacions}">
            <td th:text="${classificacio.nomNadador}"></td>
            <td th:text="${classificacio.nomProva}"></td>
            <td th:text="${classificacio.posicio}"></td>
            <td th:text="${{classificacio.temps}}"></td>
            <td> <a th:href="@{/classificacio/update/{nom}/{nomProva}(nom=${classificacio.nomNadador}, nomProva=${classificacio.nomProva})}" class="btn btn-warning">Edita</a></td>
            <td><a th:href="@{/classificacio/delete/{nom}/{nomProva}(nom=${classificacio.nomNadador},nomProva=${classificacio.nomProva})}" class="btn btn-danger">Esborra</a></td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success">Afegeix classificació</a>
    <br><br>
    <a href="/" class="btn btn-info">Tornar</a>
</main>
</body>
</html>