<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">

    <div class="card overflow-hidden">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-light p-5">
                <h1 class="text-primary fw-bold text-center">¿Qué quieres hacer?</h1>
            </div>

            <div class="col-md-8">

                <div class="p-4 border-bottom option-row position-relative">
                    <h2 class="text-primary fw-bold">
                        <a th:href="@{/login(origen='tarjeta')}" class="text-decoration-none text-primary stretched-link">Iniciar sesión</a>
                    </h2>
                    <p class="mb-0 text-muted">Accede al sistema con tu cuenta actual</p>
                </div>

                <div class="p-4 border-bottom option-row position-relative">
                    <h2 class="text-primary fw-bold">
                        <a th:href="@{/activity/listInscripciones}" class="text-decoration-none text-primary stretched-link">Inscribirse en una actividad</a>
                    </h2>
                    <p class="mb-0 text-muted">Inscríbete en una de nuestras actividades</p>
                </div>

                <div class="p-4 border-bottom option-row position-relative">
                    <h2 class="text-primary fw-bold">
                        <a th:href="@{/registrar/ovi}" class="text-decoration-none text-primary stretched-link">Registrarte como miembro de la OVI</a>
                    </h2>
                    <p class="mb-0 text-muted">Pincha aquí si quieres comenzar a ser miembro de la OVI</p>
                </div>

                <div class="p-4 option-row position-relative">
                    <h2 class="text-primary fw-bold">
                        <a th:href="@{/registrar/pap}" class="text-decoration-none text-primary stretched-link">Regístrate como asistente personal</a>
                    </h2>
                    <p class="mb-0 text-muted">Pincha aquí si quieres comenzar a ser asistente personal</p>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>