<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">

    <div class="card overflow-hidden">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-light p-5">
                <h1 class="text-primary fw-bold text-center">¿Qué quieres hacer?</h1>
            </div>

            <!-- Columna Derecha (Opciones) -->
            <div class="col-md-8">

                <!-- Opción 1: Login -->
                <a th:href="@{/login}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h2 class="text-primary fw-bold">Iniciar sesión</h2>
                        <p class="mb-0 text-muted">Accede al sistema con tu cuenta actual</p>
                    </div>
                </a>

                <!-- Opción 1: Login -->
                <a th:href="@{/activity/listInscripciones}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h2 class="text-primary fw-bold">Inscribirse en una actividad</h2>
                        <p class="mb-0 text-muted">Inscríbete en una de nuestras actividades</p>
                    </div>
                </a>

                <!-- Opción 2: OVIUser -->
                <a th:href="@{/registrar/ovi}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h2 class="text-primary fw-bold">Registrarte como miembro de la OVI</h2>
                        <p class="mb-0 text-muted">Pincha aquí si quieres comenzar a ser miembro de la OVI</p>
                    </div>
                </a>

                <!-- Opción 3: pap pati -->
                <a th:href="@{/registrar/pap}" class="text-decoration-none text-dark">
                    <div class="p-4 option-row">
                        <h2 class="text-primary fw-bold">Registrate como asistente personal</h2>
                        <p class="mb-0 text-muted">Pincha aquí si quieres comenzar a ser asistente personal</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

</body>
</html>

