<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Información PAP</title>
</head>

<body>
<section layout:fragment="content">

<h1>Información del asistente personal asignado</h1>
<table class="table table-hover">
    <thead style="background-color: #0e6a89 !important; color: white !important;">
    <tr>
        <th style="background-color: transparent !important; color: white !important;">Nombre</th>

        <th style="background-color: transparent !important; color: white !important;">Experiencia</th>
        <th style="background-color: transparent !important; color: white !important;">CV</th>
<!--        <th>Fecha de nacimiento</th>-->
        <th style="background-color: transparent !important; color: white !important;">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pap : ${paps}">
        <td th:text="${pap.name + ' ' + pap.surname}"></td>

        <td th:text="${pap.experience}"></td>
        <td th:text="${pap.curriculumVitae}"></td>

        <td th:switch="${pap.emparejamiento}">

            <span th:case="'pendiente_OVI'">
                <a th:href="@{/chat/room/{idMatch}(idMatch=${pap['idmatch']}, name=${pap['name']})}"
                   class="btn btn-info btn-sm">Contactar</a>
                <a th:href="@{/oviuser/acceptMatch/{idReq}/{idp}(idReq=${idRequest}, idp=${pap.idnumber})}"
                   class="btn btn-warning btn-sm">Aceptar</a>
                <a th:href="@{/oviuser/rejectMatch/{idReq}/{idp}(idReq=${idRequest}, idp=${pap.idnumber})}"
                   class="btn btn-danger btn-sm">Rechazar</a>
            </span>

            <span th:case="'pendiente_PAP'"
                  class="badge bg-warning text-dark">Esperando respuesta</span>

            <span th:case="'rechaza_PAP'">Rechazado</span>

            <span th:case="'rechaza_OVI'">Rechazado</span>

            <span th:case="*"
                  th:text="${pap.emparejamiento}"
                  class="badge bg-secondary"></span>

        </td>
    </tr>
    </tbody>
</table>
    <a href="#" onclick="history.back(); return false;" class="btn btn-secondary btn-sm mt-2">Volver</a>
</section>
</body>
</html>
