<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listado de Matches</title>
</head>
<body>

<section layout:fragment="content">

    <h1>Matches</h1>

    <table class="table table-striped">
        <thead style="background-color: #0e6a89 !important; color: white !important;">
        <tr>
            <th style="background-color: transparent !important; color: white !important;">#</>
            <th style="background-color: transparent !important; color: white !important;">OVI User</th>
            <th style="background-color: transparent !important; color: white !important;">PAP/PATI</th>
            <th style="background-color: transparent !important; color: white !important;">idRequest</th>
            <th style="background-color: transparent !important; color: white !important;">Fecha</th>
            <th style="background-color: transparent !important; color: white !important;">Estado</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${matches}">
            <td th:text="${r.idNumber}"></td>
            <td th:text="${r.idUser}"></td>
            <td th:text="${r.idPAP}"></td>
            <td th:text="${r.idRequest}"></td>
            <td th:text="${r.date}"></td>
            <td th:text="${r.estado}"></td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/tecnico/panel}"
       class="btn btn-secondary btn-sm">Volver</a>


</section>
</body>
</html>
