<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listado de Matches</title>
</head>
<body>

<section layout:fragment="content">

    <h1>Matches</h1>

    <table class="table table-striped">
        <thead style="background-color: #0e6a89 !important; color: white !important;">
        <tr>
            <th style="background-color: transparent !important; color: white !important;">#</th>
            <th style="background-color: transparent !important; color: white !important;">Miembro de la OVI</th>
            <th style="background-color: transparent !important; color: white !important;">Más información</th>
            <th style="background-color: transparent !important; color: white !important;">Asistente Personal</th>
            <th style="background-color: transparent !important; color: white !important;">Más información</th>
            <th style="background-color: transparent !important; color: white !important;">idRequest</th>
            <th style="background-color: transparent !important; color: white !important;">Fecha</th>
            <th style="background-color: transparent !important; color: white !important;">Estado</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${matches}">
            <td th:text="${r.idNumber}"></td>
            <td th:text="${r.idUser}"></td>
            <td>
            <a th:href="@{/oviuser/details/{id}(id=${r.idNumber})}"
               class="btn btn-sm text-white"
               style="background-color: #106b86 !important; border-color: #106b86 !important; white-space: nowrap;">Datos personales</a>
            </td>
            <td th:text="${r.idPAP}"></td>
            <td>
                <a th:href="@{/pap_pati/details/{id}(id=${r.idNumber})}"
                   class="btn btn-sm text-white"
                   style="background-color: #106b86 !important; border-color: #106b86 !important; white-space: nowrap;">Datos personales</a>
            </td>
            <td th:text="${r.idRequest}"></td>
            <td th:text="${#temporals.format(r.date, 'dd/MM/yyyy')}"></td>
            <td th:text="${r.estado}"></td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/tecnico/panel}"
       class="btn btn-secondary btn-sm">Volver</a>


</section>
</body>
</html>
