<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Solicitudes registro OVI Users</title>
</head>
<body>
<section layout:fragment="content">

    <h1>Solicitudes registro Miembros de la OVI </h1>

    <table class="table table-striped">
        <thead style="background-color: #0e6a89 !important; color: white !important;">
        <tr>
            <th style="background-color: transparent !important; color: white !important;">DNI</th>
            <th style="background-color: transparent !important; color: white !important;">Nombre</th>
            <th style="background-color: transparent !important; color: white !important;">Apellidos</th>
            <th style="background-color: transparent !important; color: white !important;">Teléfono</th>
            <th style="background-color: transparent !important; color: white !important;">Email</th>
            <th style="background-color: transparent !important; color: white !important;">Fecha de Nacimiento</th>
            <th style="background-color: transparent !important; color: white !important;">Dirección</th>
            <th style="background-color: transparent !important; color: white !important;">Tipo de diversidad</th>
            <th style="background-color: transparent !important; color: white !important;">Grado de dependencia</th>
            <th style="background-color: transparent !important; color: white !important;">Acciones</th>

        </tr>

        <tbody>
        <tr th:each="i : ${ovis}">
            <td th:text="${i.idNumber}"></td>
            <td th:text="${i.name}"></td>
            <td th:text="${i.surname}"></td>
            <td th:text="${i.phoneNumber}"></td>
            <td th:text="${i.email}"></td>
            <td th:text="${i.dateBirth}"></td>
            <td th:text="${i.address}"></td>
            <td th:text="${i.funcDiversity}"></td>
            <td th:text="${i.dependencyGrade}"></td>

            <td>
                <a th:href="@{/tecnico/aceptarOVI/{idNumber}(idNumber=${i.idNumber})}"
                   class="btn btn-warning btn-sm ">Aceptar</a>

                <a th:href="@{/tecnico/rechazarOVI/{idNumber}(idNumber=${i.idNumber})}"
                   class="btn btn-danger btn-sm">Rechazar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/oviuser/list}"
       class="btn btn-secondary btn-sm">Volver</a>

</section>
</body>
</html>
