<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Listado PAP/PATI</title>
</head>
<body>
<section layout:fragment="content">

    <h1>Listado de PAP/PATI</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${pap_patis}">
            <td th:text="${p.idNumber}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.surname}"></td>
            <td th:text="${p.email}"></td>
            <td th:text="${p.phoneNumber}"></td>

            <td>
                <a th:href="@{/pap_pati/update/{idNumber}(idNumber=${p.idNumber})}"
                   class="btn btn-warning btn-sm">Editar</a>

                <a th:href="@{/pap_pati/delete/{idNumber}(idNumber=${p.idNumber})}"
                   class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/pap_pati/add" class="btn btn-success">Añadir PAP/PATI</a>

</section>
</body>
</html>
