<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Solicitudes Pendientes</title>
</head>
<body>

<section layout:fragment="content">

    <h1>Solicitudes de asistencia pendientes</h1>

    <div th:if="${#lists.isEmpty(activities)}" class="alert alert-info text-dark" style="color: #000000 !important; font-weight: 500;">
        No tienes ninguna propuesta de emparejamiento pendiente en este momento.
    </div>
    <table class="table table-hover mt-4"  th:unless="${#lists.isEmpty(asignaciones)}">
        <thead style="background-color: #0e6a89 !important; color: white !important;">
        <tr>
            <th style="background-color: transparent !important; color: white !important;">Nombre</th>
            <th style="background-color: transparent !important; color: white !important;">Soporte Requerido</th>
            <th style="background-color: transparent !important; color: white !important;">Descripción</th>
            <th style="background-color: transparent !important; color: white !important;">Requisitos</th>
            <th style="background-color: transparent !important; color: white !important;">Proyecto de Vida</th>
            <th style="background-color: transparent !important; color: white !important;">Fecha de propuesta</th>
            <th style="background-color: transparent !important; color: white !important;">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="asig : ${asignaciones}">
            <td th:text="${asig.oviname}"></td>

            <td th:text="${asig.requiredsupport}"></td>
            <td th:text="${asig.description}"></td>
            <td th:text="${asig.requirements}"></td>
            <td th:text="${asig.lifeproject}"></td>

            <td th:text="${#temporals.format(asig.date.toLocalDate(), 'dd/MM/yyyy')}"></td>

            <td>
                <a th:href="@{/chat/room/{idMatch}(idMatch=${asig['idmatch']}, name=${asig['oviname']})}"
                   class="btn btn-info btn-sm">Contactar</a>

                <th:block th:if="${asig['emparejamiento'] == 'pendiente_PAP'}">
                    <a th:href="@{/pap_pati/acceptMatch/{idReq}/{idp}(idReq=${asig.idrequest}, idp=${asig.idpap})}"
                       class="btn btn-warning btn-sm mb-1">Aceptar</a>

                    <a th:href="@{/pap_pati/rejectMatch/{idReq}/{idp}(idReq=${asig.idrequest}, idp=${asig.idpap})}"
                       class="btn btn-danger btn-sm">Rechazar</a>
                </th:block>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/pap_pati/panel}"
       class="btn btn-secondary btn-sm">Volver</a>

</section>
</body>
</html>