<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Panel de PAP/PATI</title>
</head>
<body>

<section layout:fragment="content">

    <div class="card overflow-hidden shadow-sm">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-light p-5">
                <h2 class="text-primary fw-bold text-center">Panel de Control</h2>
            </div>

            <div class="col-md-8">

                <a th:href="@{/pap_pati/editar}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h5 class="text-primary fw-bold">Editar Perfil</h5>
                        <p class="mb-0 text-muted">Actualiza tu información personal y datos de contacto</p>
                    </div>
                </a>

                <a th:href="@{/pap_pati/asignaciones}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h5 class="text-primary fw-bold">Ver peticiones de asistencia pendientes</h5>
                        <p class="mb-0 text-muted">Consulta las peticiones de asistencia pendientes de resolución</p>
                    </div>
                </a>

                <a th:href="@{/pap_pati/activematch}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h5 class="text-primary fw-bold">Ver Usuarios OVI en activo</h5>
                        <p class="mb-0 text-muted">Consulta las peticiones de asistencia que has aceptado</p>
                    </div>
                </a>

                <a th:href="@{/activity/listInscripciones}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h5 class="text-primary fw-bold">Catálogo de Actividades</h5>
                        <p class="mb-0 text-muted">Explora y busca nuevas actividades disponibles para inscribirte</p>
                    </div>
                </a>

                <a th:href="@{/activity/listMisActividades}" class="text-decoration-none text-dark">
                    <div class="p-4 border-bottom option-row">
                        <h5 class="text-primary fw-bold">Mis Actividades</h5>
                        <p class="mb-0 text-muted">Revisa el estado de las actividades en las que ya estás inscrito</p>
                    </div>
                </a>

            </div>
        </div>
    </div>

</section>

</body>
</html>