<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Actualizar PAP/PATI</title>
</head>

<body>
<section layout:fragment="content">

    <h1 class="mt-4">Modificar datos de: <span th:text="${pap_pati.name} + ' ' + ${pap_pati.surname}">Usuario</span></h1>

    <form action="#" th:action="@{/pap_pati/update}" th:object="${pap_pati}" method="post" class="mt-4">

        <div class="row">
            <div class="form-group col-md-4">
                <label for="idNumber">DNI / NIE (No editable):</label>
                <input type="text" class="form-control" th:field="*{idNumber}" id="idNumber" readonly />
            </div>

            <div class="form-group col-md-4">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" required />
            </div>

            <div class="form-group col-md-4">
                <label for="surname">Apellidos:</label>
                <input type="text" class="form-control" th:field="*{surname}" id="surname" required />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="dateBirth">Fecha de Nacimiento:</label>
                <input type="date" class="form-control" th:field="*{dateBirth}" id="dateBirth" required />
            </div>

            <div class="form-group col-md-4">
                <label for="email">Correo Electrónico:</label>
                <input type="email" class="form-control" th:field="*{email}" id="email" />
            </div>

            <div class="form-group col-md-4">
                <label for="phoneNumber">Teléfono:</label>
                <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" />
            </div>
        </div>

        <div class="form-group">
            <label for="address">Dirección:</label>
            <input type="text" class="form-control" th:field="*{address}" id="address" />
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="experience">Experiencia:</label>
                <input type="text" class="form-control" th:field="*{experience}" id="experience" />
            </div>

            <div class="form-group col-md-6">
                <label for="curriculum">Curriculum Vitae:</label>
                <input type="text" class="form-control" th:field="*{curriculumVitae}" id="curriculum" />

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="userName">Nombre de Usuario:</label>
                <input type="text" class="form-control" th:field="*{userName}" id="userName" />
            </div>

            <div class="form-group col-md-6">
                <label for="userPassword">Contraseña:</label>
                <input type="password" class="form-control" th:field="*{userPassword}" id="userPassword" required />
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Volver atrás</button>

            <button type="submit" class="btn btn-success">Actualizar Datos</button>
        </div>

    </form>

</section>
</body>
</html>
