<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Solicitudes de asistencia</title>
</head>
<body>

<section layout:fragment="content">

    <h1>Solicitudes de asistencia</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI/NIE OVI User</th>
            <th>Fecha</th>
            <th>Tipo de apoyo</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${requestAssists}">
            <td th:text="${r.iduser}"></td>
            <td th:text="${r.date}"></td>
            <td th:text="${r.requiredsupport}"></td>
            <td th:text="${r.description}"></td>
            <td th:text="${r.estado}"></td>
            <td>
                <a th:href="@{/tecnico/match/create/{idnumber}(idnumber=${r.idnumber})}"
                   class="btn btn-primary btn-sm">Proponer PAP/PATI</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/tecnico/panel}"
       class="btn btn-secondary btn-sm">Volver</a>


</section>
</body>
</html>
