<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Proponer PAP/PATI</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Proponer PAP/PATI<span th:text="${requestId}"></span></h1>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${papPatis}">
            <td th:text="${p.idNumber}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.surname}"></td>
            <td th:text="${p.email}"></td>

            <td>
                <a th:href="@{/tecnico/match/asignar/{requestId}/{idNumber}(idNumber=${p.idNumber}, requestId=${requestId})}"
                   class="btn btn-info btn-sm">Asignar</a>

            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/requestAssist/list}" class="btn btn-secondary mb-3">Volver a Solicitudes</a>

</section>
</body>
</html>