<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h2 class="mt-4">Registrase como usuario OVI</h2>

        <form action="#" th:action="@{/registrar/ovi}" th:object="${oviuser}" method="post" class="mt-4">

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="idNumber">DNI / NIE:</label>
                    <input type="text" class="form-control" th:field="*{idNumber}" id="idNumber" maxlength="9"/>
                    <p th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}" class="error"></p>
                </div>

                <div class="form-group col-md-4">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>


                </div>

                <div class="form-group col-md-4">
                    <label for="surname">Apellidos:</label>
                    <input type="text" class="form-control" th:field="*{surname}" id="surname" />
                    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="dateBirth">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" th:field="*{dateBirth}" id="dateBirth"/>
                    <p th:if="${#fields.hasErrors('dateBirth')}" th:errors="*{dateBirth}" class="error"></p>

                </div>

                <div class="form-group col-md-4">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" />
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>

                </div>

                <div class="form-group col-md-4">
                    <label for="phoneNumber">Teléfono:</label>
                    <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" maxlength="9"/>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></p>

                </div>
            </div>

            <div class="form-group">
                <label for="address">Dirección completa:</label>
                <input type="text" class="form-control" th:field="*{address}" id="address" />
                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></p>

            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="funcDiversity">Tipo de Diversidad Funcional:</label>
                    <select class="form-control" th:field="*{funcDiversity}" id="funcDiversity">
                        <option value="">-- Seleccione un tipo --</option>
                        <option th:each="type : ${diversityList}"
                                th:value="${type}" th:text="${type}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('funcDiversity')}" th:errors="*{funcDiversity}" class="error"></p>
                </div>

                <div class="form-group col-md-6">
                    <label for="dependencyGrade">Grado de Dependencia (1-3):</label>
                    <input type="number" class="form-control" th:field="*{dependencyGrade}" id="dependencyGrade" min="1" max="3" />
                    <p th:if="${#fields.hasErrors('dependencyGrade')}" th:errors="*{dependencyGrade}" class="error"></p>

                </div>
            </div>

            <hr/>
            <h4>Datos de Acceso</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="userName">Nombre de Usuario:</label>
                    <input type="text" class="form-control" th:field="*{userName}" id="userName" />
                    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></p>

                </div>

                <div class="form-group col-md-6">
                    <label for="userPassword">Contraseña:</label>
                    <input type="password" class="form-control" th:field="*{userPassword}" id="userPassword" />
                    <p th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}" class="error"></p>
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Guardar Usuario</button>
                <a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>