<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Mis Futuras Actividades Asignadas</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card p-4 shadow-sm">
        <h1>Mis Actividades (Instructor)</h1>

        <div th:if="${#lists.isEmpty(activities)}" class="alert alert-info text-dark" style="color: #000000 !important; font-weight: 500;">
            Actualmente no impartes ni has solicitado ninguna actividad.
        </div>

        <table class="table table-hover mt-4" th:unless="${#lists.isEmpty(activities)}">
            <thead style="background-color: #0e6a89 !important; color: white !important;">
            <tr>
                <th style="background-color: transparent !important; color: white !important;">Nombre</th>
                <th style="background-color: transparent !important; color: white !important;">Fecha</th>
                <th style="background-color: transparent !important; color: white !important;">Hora</th>
                <th style="background-color: transparent !important; color: white !important;">Lugar</th>
                <th style="background-color: transparent !important; color: white !important;">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${activities}">
                <td class="fw-bold" th:text="${a.name}">Nombre Actividad</td>
                <td th:text="${a.date}">Fecha</td>
                <td th:text="${a.time}">Hora</td>
                <td th:text="${a.location}">Lugar</td>

                <td>
                    <a th:href="@{/activity/details/{id}(id=${a.idNumber})}" class="btn btn-primary">Más información</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <a th:href="@{/activity/listInscripciones}" class="btn btn-primary shadow-sm">
                Todas mis actividades
            </a>
            <a th:href="@{/activity/listMisActividadesPendientesInstructor}" class="btn btn-warning shadow-sm">
                Actividades pendientes
            </a>
            <a th:href="@{/activity/listMisActividadesAceptadasInstructor}" class="btn btn-success shadow-sm">
                Actividades confirmadas
            </a>

            <a th:href="@{/activity/listInscripciones}" class="btn btn-primary shadow-sm">
                Buscar más actividades para impartir
            </a>
        </div>
    </div>
</section>
</body>
</html>