body { background-color: #f8f9fa; }
        .custom-blue { background-color: #005a87; }
        .text-blue { color: #005a87; }

        /* Estilo para imitar las filas de la imagen */
        .option-row {
            transition: background-color 0.2s;
            cursor: pointer;
            border-bottom: 1px solid #dee2e6;
        }
        .option-row:hover {
            background-color: #f1f8ff;
        }
        .option-row:last-child {
            border-bottom: none;
        }